.git
.env

download/
work/
shared/

config/openvpn/
config/plex/
config/transmission/
config/heimdall
config/traefik/certs/
config/minecraft/*
!config/minecraft/server.properties
!config/minecraft/plugins/Dynmap-3.0-beta-5-spigot.jar

.DS_Store
