.git
.env

download/
work/
shared/

config/alertmanager/
config/openvpn/
config/plex/
config/diskover/
config/transmission/
config/heimdall
config/traefik/certs/
config/minecraft/
!config/minecraft/plugins/*.jar

.DS_Store
