version: '2'

networks:

    connected:
        driver: bridge
        ipam:
            driver: default
            config: # http://www.subnet-calculator.com/subnet.php?net_class=B
            - subnet: 172.1.0.0/25 # 172.1.0.1 - 172.1.0.126
              gateway: 172.1.0.126
              ip_range: 172.1.0.0/26 # 172.16.0.1 - 172.16.0.62

    hidden:
        internal: true

volumes:
    influx_data: {}
    mosquitto_data: {}
    prometheus_data: {}
    grafana_data: {}

services:

    samba: # SMB server
        container_name: samba
        image: dperson/samba
        command: '-s "shared;/mount;yes;no;yes;all;none"'
        restart: ${RESTART_MODE}
        ports:
            - "139:139"
            - "445:445"
        volumes:
            - ./download/complete:/mount/downloads
            - ./shared:/mount/shared
            - /media/nuc/WD2To:/mount/media
        networks:
            - connected
        labels:
            - "traefik.enable=false"

    sftp: # Sftp server
        container_name: sftp
        image: atmoz/sftp
        command: ${SFTP_COMMAND}
        restart: ${RESTART_MODE}
        ports:
            - "32768:22"
        volumes:
            - ./download/complete:/home/shokohsc/upload/downloads
            - ./shared:/home/shokohsc/upload/shared
            - /media/nuc/WD2To:/home/shokohsc/upload/media
        networks:
            - connected
        labels:
            - "traefik.enable=false"

    duckdns: # Dynamic IP <-> Domain
        container_name: duckdns
        image: linuxserver/duckdns
        restart: ${RESTART_MODE}
        environment:
            SUBDOMAINS: ${DUCKDNS_SUBDOMAINS}
            TOKEN: ${PUID}
            TZ: ${TIMEZONE}
        networks:
            - connected
        labels:
            - "traefik.enable=false"

    openvpn: # Internal vpn
        container_name: openvpn
        image: kylemanna/openvpn
        tty: true
        cap_add:
            - net_admin
        restart: ${RESTART_MODE}
        expose:
            - "5555"
        ports:
            - "32767:1194/udp"
        logging:
            driver: none
        volumes:
            - ./config/openvpn:/etc/openvpn
        networks:
            - connected
        labels:
            - "traefik.enable=false"

    gateway: # Torrenting vpn
        container_name: gateway
        image: dperson/openvpn-client
        cap_add:
            - net_admin
        restart: ${RESTART_MODE}
        command: "-r 192.168.1.0/24 -p 9091"
        # command: "-r 192.168.1.0/24 -p 9091 -v server;username;password;port"
        ports:
            - "32766:51413/tcp"
            - "32766:51413/udp"
        volumes:
            - ./vpn_conf.ovpn:/vpn/vpn_conf.ovpn
            # - ./vpn_conf.ovpn:/vpn/vpn-ca.crt
        environment:
            TZ: ${TIMEZONE}
        devices:
            - "/dev/net/tun:/dev/net/tun"
        networks:
            - connected
        dns: 8.8.8.8
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host:transmission.${DOMAIN}"
            - "traefik.port=9091"

    traefik: # Reverse proxy
        container_name: traefik
        image: traefik
        restart: ${RESTART_MODE}
        command: --api --docker
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./config/traefik/certs:/etc/traefik/certs
            - ./config/traefik/traefik.toml:/etc/traefik/traefik.toml
        networks:
            - connected
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host:traefik.${DOMAIN}"
            - "traefik.port=8080"

    portainer: # Docker management
        container_name: portainer
        image: portainer/portainer
        restart: ${RESTART_MODE}
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - connected
        depends_on:
            - traefik
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host:portainer.${DOMAIN}"
            - "traefik.port=9000"

    transmission: # Torrent client
        container_name: transmission
        image: linuxserver/transmission
        restart: ${RESTART_MODE}
        volumes:
            - ./config/transmission:/config
            - ./download:/downloads
            - ./shared/transmission:/watch
        network_mode: "service:gateway"
        depends_on:
            - gateway

    commander: # Web ui server admin
        container_name: commander
        image: coderaiser/cloudcmd
        restart: ${RESTART_MODE}
        volumes:
            - /:/mnt/fs
            - ./download/complete:/root/downloads
            - ./shared:/root/shared
            - /media/nuc/WD2To:/root/media
        networks:
            - connected
        depends_on:
            - traefik
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host:commander.${DOMAIN}"
            - "traefik.port=8000"

    plex: # Media server
        container_name: plex
        image: linuxserver/plex
        restart: ${RESTART_MODE}
        environment:
            PGID: ${PGID}
            PUID: ${PUID}
            VERSION: latest
            PLEX_CLAIM: ${PLEX_CLAIM}
            ADVERTISE_IP: ${PLEX_ROOT_URL}
            TZ: ${TIMEZONE}
        ports:
            - "32400:32400/tcp"
            - "3005:3005/tcp"
            - "8324:8324/tcp"
            - "32469:32469/tcp"
            - "1900:1900/udp"
            - "32410:32410/udp"
            - "32412:32412/udp"
            - "32413:32413/udp"
            - "32414:32414/udp"
            - "32400:32400/udp"
            - "32469:32469/udp"
            - "5353:5353/tcp"
        devices:
            - "/dev/dri:/dev/dri"
        volumes:
            - ./config/plex:/config
            - ./work/plex:/transcode
            - /media/nuc/WD2To:/data/media
            - ./download/complete:/data/downloads
        networks:
            - connected
        depends_on:
            - traefik
        hostname: "plex"
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host:plex.${DOMAIN}"
            - "traefik.port=32400"

    grafana: # Monitoring tool connected server
        container_name: grafana
        image: grafana/grafana:5.2.4
        restart: ${RESTART_MODE}
        environment:
            GF_SECURITY_ADMIN_PASSWORD: ${GLOBAL_PASSWORD}
            GF_SERVER_ROOT_URL: ${GRAFANA_ROOT_URL}
            GF_SMTP_ENABLED: ${GF_SMTP_ENABLED}
            GF_SMTP_HOST: ${GF_SMTP_HOST}
            GF_SMTP_USER: ${GF_SMTP_USER}
            GF_SMTP_PASSWORD: ${GF_SMTP_PASSWORD}
        volumes:
            - grafana_data:/var/lib/grafana
            - ./config/grafana/datasources:/etc/grafana/datasources
            - ./config/grafana/dashboards:/etc/grafana/dashboards
            - ./config/grafana/setup.sh:/setup.sh
        entrypoint: /setup.sh
        networks:
            - connected
            - hidden
        depends_on:
            - traefik
            - prometheus
            - pushgateway
            - nodeexporter
            - cadvisor
            - influxdb
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host:grafana.${DOMAIN}"
            - "traefik.docker.network=seedbox_connected"
            - "traefik.port=3000"

    prometheus: # Database, grafana requirement
        image: prom/prometheus:v2.4.3
        container_name: prometheus
        restart: ${RESTART_MODE}
        volumes:
            - ./config/prometheus/:/etc/prometheus/
            - prometheus_data:/prometheus
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus'
            - '--web.console.libraries=/etc/prometheus/console_libraries'
            - '--web.console.templates=/etc/prometheus/consoles'
            - '--storage.tsdb.retention=24h'
            - '--web.enable-lifecycle'
        networks:
            - hidden

    alertmanager: # Grafana requirement
        image: prom/alertmanager:v0.15.2
        container_name: alertmanager
        volumes:
            - ./config/alertmanager/:/etc/alertmanager/
        command:
            - '--config.file=/etc/alertmanager/config.yml'
            - '--storage.path=/alertmanager'
        restart: ${RESTART_MODE}
        networks:
            - hidden

    nodeexporter: # Grafana requirement
        image: prom/node-exporter:v0.16.0
        container_name: nodeexporter
        restart: ${RESTART_MODE}
        user: root
        privileged: true
        volumes:
            - /proc:/host/proc:ro
            - /sys:/host/sys:ro
            - /:/rootfs:ro
        command:
            - '--path.procfs=/host/proc'
            - '--path.sysfs=/host/sys'
            - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
        networks:
            - hidden

    cadvisor: # Grafana requirement
        image: google/cadvisor:v0.31.0
        container_name: cadvisor
        restart: ${RESTART_MODE}
        volumes:
            - /:/rootfs:ro
            - /var/run:/var/run:rw
            - /sys:/sys:ro
            - /var/lib/docker/:/var/lib/docker:ro
            - /cgroup:/cgroup:ro #doesn't work on MacOS only for Linux
        networks:
            - hidden

    pushgateway: # Grafana requirement
        image: prom/pushgateway
        container_name: pushgateway
        restart: ${RESTART_MODE}
        networks:
            - hidden

    heimdall: # Heimdall
        image: linuxserver/heimdall
        container_name: heimdall
        restart: ${RESTART_MODE}
        environment:
            PGID: ${PGID}
            PUID: ${PUID}
            TZ: ${TIMEZONE}
        volumes:
            - ./config/heimdall:/config
        networks:
            - connected
        depends_on:
            - traefik
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host:heimdall.${DOMAIN}"
            - "traefik.port=80"

    monitor: # Openvpn monitor
        image: ruimarinho/openvpn-monitor
        container_name: monitor
        restart: ${RESTART_MODE}
        environment:
            OPENVPNMONITOR_DEFAULT_MAPS: "True"
            OPENVPNMONITOR_DEFAULT_DATETIMEFORMAT: ${OPENVPNMONITOR_DEFAULT_DATETIMEFORMAT}
            OPENVPNMONITOR_DEFAULT_LATITUDE: ${OPENVPNMONITOR_DEFAULT_LATITUDE}
            OPENVPNMONITOR_DEFAULT_LONGITUDE: ${OPENVPNMONITOR_DEFAULT_LONGITUDE}
            OPENVPNMONITOR_DEFAULT_SITE: ${OPENVPNMONITOR_DEFAULT_SITE}
            OPENVPNMONITOR_SITES_0_HOST: ${OPENVPNMONITOR_SITES_0_HOST}
            OPENVPNMONITOR_SITES_0_NAME: ${OPENVPNMONITOR_SITES_0_NAME}
            OPENVPNMONITOR_SITES_0_PORT: ${OPENVPNMONITOR_SITES_0_PORT}
        networks:
            - connected
        depends_on:
            - traefik
            - openvpn
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host:monitor.${DOMAIN}"
            - "traefik.port=80"

    comic-reader:
        container_name: comic-reader
        image: shokohsc/server-comic-reader
        restart: ${RESTART_MODE}
        tty: true
        volumes:
            - /var/www/symfony
            - ./shared/gazee:/var/www/symfony/public/files/weekly
            - /media/nuc/WD2To/comics:/var/www/symfony/public/files/all
        networks:
            - hidden

    php-fpm-comic:
        container_name: php-fpm-comic
        image: shokohsc/alpine-php-fpm
        restart: ${RESTART_MODE}
        environment:
            PGID: ${PGID}
            PUID: ${PUID}
            TZ: ${TIMEZONE}
        volumes_from:
            - comic-reader
        networks:
            - hidden
        depends_on:
            - comic-reader

    nginx-comic:
        container_name: nginx-comic
        image: shokohsc/alpine-nginx
        restart: ${RESTART_MODE}
        environment:
            PGID: ${PGID}
            PUID: ${PUID}
            TZ: ${TIMEZONE}
        volumes_from:
            - comic-reader
        networks:
            - hidden
            - connected
        links:
            - "php-fpm-comic:php-fpm"
        depends_on:
            - php-fpm-comic
            - comic-reader
            - traefik
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host:comics.${DOMAIN}"
            - "traefik.docker.network=seedbox_connected"
            - "traefik.port=80"


    wol-web:
        container_name: wol-web
        image: shokohsc/server-wol
        restart: ${RESTART_MODE}
        tty: true
        volumes:
            - /var/www/symfony
        networks:
            - hidden

    php-fpm-wol:
        container_name: php-fpm-wol
        image: shokohsc/alpine-php-fpm
        restart: ${RESTART_MODE}
        environment:
            PGID: ${PGID}
            PUID: ${PUID}
            TZ: ${TIMEZONE}
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        volumes_from:
            - wol-web
        networks:
            - hidden
        depends_on:
            - wol-web

    nginx-wol:
        container_name: nginx-wol
        image: shokohsc/alpine-nginx
        restart: ${RESTART_MODE}
        environment:
            PGID: ${PGID}
            PUID: ${PUID}
            TZ: ${TIMEZONE}
        volumes_from:
            - wol-web
        networks:
            - hidden
            - connected
        links:
            - "php-fpm-wol:php-fpm"
        depends_on:
            - php-fpm-wol
            - wol-web
            - traefik
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host:wol.${DOMAIN}"
            - "traefik.docker.network=seedbox_connected"
            - "traefik.port=80"

    paint-web:
        container_name: paint-web
        image: shokohsc/mini-paint
        restart: ${RESTART_MODE}
        environment:
            PGID: ${PGID}
            PUID: ${PUID}
            TZ: ${TIMEZONE}
        networks:
            - connected
        depends_on:
            - traefik
        labels:
            - "traefik.enable=true"
            - "traefik.frontend.rule=Host:paint.${DOMAIN}"
            - "traefik.port=80"

    influxdb: # InfluxDB
        container_name: influxdb
        image: influxdb
        restart: ${RESTART_MODE}
        environment:
            INFLUXDB_DB: miflora
            INFLUXDB_USER: miflora
            INFLUXDB_USER_PASSWORD: ${INFLUXDB_USER_PASSWORD}
        networks:
            - connected
        volumes:
            - influx_data:/var/lib/influxdb

    mosquitto: # Mosquitto mqtt broker
        container_name: mosquitto
        image: eclipse-mosquitto
        restart: ${RESTART_MODE}
        ports:
            - "1883:1883/tcp"
        networks:
            - connected
        volumes:
            - ./config/miflora/mosquitto.conf:/mosquitto/config/mosquitto.conf
            - mosquitto_data:/mosquitto/data

    miflora-daemon: # Miflora daemon
        container_name: miflora-daemon
        image: shokohsc/miflora-mqtt-daemon
        cap_add:
            - net_admin
            - sys_admin
        restart: ${RESTART_MODE}
        volumes:
            - ./config/miflora/config.py:/app/config.py
        network_mode: host
        depends_on:
            - mosquitto
